<%- include("../partials/head", { pageTitle: pageTitle }) %>
<%- include("../partials/navbar") %>

<main class="container page auth">
  <div class="auth-card">
    <h1>Forgot Password</h1>
    <p class="subtext">Enter your email to receive a reset link</p>

    <form class="form" action="/auth/forgot-password" method="POST">
       <%- include('../partials/errors') %>
      <label class="label">Email</label>
      <input class="input" type="email" name="email" value="<%= oldInput.email %>" required />

      <button class="btn full" type="submit">Send Reset Link</button>
    </form>

    <p class="helper-text">Back to <a href="/auth/login">Login</a></p>
  </div>
</main>
<%- include("../partials/footer") %>