<%- include("../partials/head", { pageTitle: pageTitle }) %>
<%- include("../partials/navbar") %>

<main class="container page auth">
  <div class="auth-card">
    <h1>Reset Password</h1>
    <p class="subtext">Create a new password</p>

    <form class="form" action="/auth/reset-password" method="POST">
       <%- include('../partials/errors') %>
       
      <input type="hidden" name="userId" value="<%= userId %>" />
      <input type="hidden" name="token" value="<%= token %>" />

      <label class="label">New Password</label>
      <input class="input" type="password" name="password" required />

      <button class="btn full" type="submit">Update Password</button>
    </form>
  </div>
</main>
<%- include("../partials/footer") %>